:root {
  --primary-color: #425a7d;
  --bg-color: #eaeaea;
  /* --second-color: #1a6fed; */
  --second-color: #4a88f7;
  --font-color: #fff;
  --primary-font: 'Oswald';
}

@font-face {
  font-family: 'Oswald';
  src: url('asset/fonts/Oswald-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--font-color);
  background-color: var(--bg-color);
}

.container {
  width: 80%;
  margin: auto;
  background-color: var(--primary-color);
  padding: 1em;
  display: grid;
  gap: 30px;
}

.container .tombol-tambah {
  display: inline-block;
  width: 10%;
  margin: auto;
  background-color: var(--second-color);
  color: var(--font-color);
  text-decoration: none;
  border-radius: 3px;
  /* padding: 0 0.5em; */
}

::-webkit-input-placeholder {
  color: var(--font-color);
}

.container .search input {
  border: none;
  outline: 0;
  border: 2px solid #A0C0D6;
  width: 25%;
  height: 2.2em;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--font-color);
}

.container .search button {
  width: 5%;
  height: 2.2em;
  cursor: pointer;
  background-color: #A0C0D6;
  color: #333;
  border: none;
  border-radius: 3px;
}

.tombol-update, .tombol-delete {
  text-decoration: none;
  color: var(--font-color);
  background-color: #46a094;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0 0.5em;
}

.tombol-delete {
  background-color: #fd292f;
}

table {
  width: 100%;
  border: 1px solid var(--second-color);
  border-collapse: collapse;
  margin-bottom: 50vh;
  font-size: 1.1rem;
}

table tr {
  border: 1px solid var(--second-color);
  height: 3em;
  /* height: 50px; */
}