:root {

}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #fff;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #425a7d;
  padding: 1em;
  display: grid;
  gap: 30px;
}

table {
  width: 100%;
  border: 1px solid #1a6fed;
  border-collapse: collapse;
  
}

table tr {
  border: 1px solid #1a6fed;
  height: 50px;
}