:root {
  --primary-color: #425a7d;
  --second-color: #4a88f7;
  --bg-color: #eaeaea;
  --font-color: #fff;
  --primary-font: 'Oswald';
}

@font-face {
  font-family: 'Oswald';
  src: url('../asset/fonts/Oswald-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: var(--bg-color);
  display: flex;
}

.box {
  margin: auto;
  width: 400px;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box h1 {
}

.box .item {
  width: 70%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.item .user-box {
  position: relative;
}

.item .user-box input {
  width: 100%;
  height: 2.5em;
  box-sizing: border-box;
  border: none;
  outline: 0;
  /* border-radius: 3px; */
  border-bottom: 2px solid var(--second-color);
  background-color: var(--primary-font);
  font-size: 1rem;
  color: var(--font-color);
  padding-left: 0.2em;
}

.item .user-box label {
  position: absolute;
  top: 0;
  left: 0;
}

.item .user-box input:focus ~ label,
.item .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--second-color);
}

::-webkit-input-placeholder{
  color: var(--font-color);
  padding-left: 0.2em;
}

.box button {
  width: 25%;
  /* height: 2em; */
  padding: 0.2em 1.2em;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  border: 2px solid var(--second-color);
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: 1.2rem;
  transition: .5s;
}

.box button:hover {
  background-color: var(--second-color);
}